*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* shared styles */
.container{
    max-width: 1300px;
    margin: 0 auto;

}

.btn{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #469165;
    border-style: none;
    border-radius: 4px;
}


/* normal styles */

/* header section */
nav{
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    align-items: center;
}
nav img{
    max-width: 139px;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

 