*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.container{
    max-width: 1240px;
    margin: 0 auto;

}

.btn{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #469165;
    border-style: none;
    border-radius: 4px;
}
.btn:hover{
    background: #f94444;
    cursor: pointer;
}
.btn2:hover{
    background: #f94444;
    cursor: pointer;
}


.header-section{
    text-align: center;
    
}
.header-section h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.header-section p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

/* normal styles */

/* header section */
nav{
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    align-items: center;
}
nav img{
    max-width: 139px;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}


/* banner section */

#banner{
    background: url(assets/hero-bg.png);
    padding: 115px 0;
}
#banner .banner-container{
    text-align: center;
}

#banner .banner-container .early-access-parent{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
#banner .banner-container .early-access{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    gap: 10px;
    max-width: max-content;
    padding: 8px 12px;
    border-radius: 100px;
}
#banner .banner-container .early-access img{
    width: 16px;
}
#banner .banner-container .early-access p{
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: #30b868;
    margin: 0;
}


#banner .banner-container h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #fff;
    text-transform: capitalize;

}
#banner .banner-container h1 .green-color{
    color: #30b868;
}
#banner .banner-container p{
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    margin: 16px 0 32px;
}
#banner .banner-container .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .banner-container .button-container .btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    margin-right: 16px;
}
#banner .banner-container .button-container .btn img{
    max-width: 20px;
}
#banner .banner-container .button-container .btn2 {

    background: #00000000;
    border: 1px solid #fff;

}
#banner .banner-container .button-container .btn2:hover {

    background: #469165;
    border-color: #469165;

}



/* notes section */

#notes{
    background: #fbfbfb;
    padding: 20px 0;
}
#notes .notes-container{
    margin-top: 80px;
}

#notes .notes-container .note-card-box{
    display: flex;
    gap: 24px;
    margin-top:44px;
    padding: 20px 0;

    
}
#notes .notes-container .note-card-box .note-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    flex: 1;
    /* gap: 16px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000060;


}
#notes .notes-container .note-card-box .note-card img{
    max-width: 60px;
    background: #f94444;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}   

#notes .notes-container .note-card-box .note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
#notes .notes-container .note-card-box .note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


/* the solution section */
#the-solution{
    margin-top: 120px;
}
#the-solution .the-solution-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
#the-solution .the-solution-container img{
    max-width: 600px;
    border-radius: 12px;
}
#the-solution .the-solution-container .info{
    text-align: left;
}
#the-solution .the-solution-container .info .top-p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 16px;
}
#the-solution .the-solution-container .info ul{
    margin-top: 40px;
}
#the-solution .the-solution-container .info ul li{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;

}


/* ready to think section */
#ready-to-think {
    margin-top: 120px;
}
#ready-to-think .ready-to-think-container{
    background: #f7f6f2;
    padding: 80px 40px;
    border-radius: 12px;
}
#ready-to-think .ready-to-think-container .btn{
    margin: 24px 0 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
#ready-to-think .ready-to-think-container .content h2{
    font-size: 40px;
}
#ready-to-think .ready-to-think-container .ready-think-bottom-p{
    line-height: 20px;

}


/* footer section */
#footer {
    background: #001931;
    margin-top: 120px;
}

#footer .footer-container{
    display: flex;
    justify-content: space-between;
    padding:120px 0 80px;
}
#footer .footer-container .socila-links h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #fff;
}
#footer .footer-container .socila-links ul {
    display: flex;
    gap: 16px;
    list-style: none;
}
#footer .footer-container .socila-links ul li a img{
    max-width: 20px;
}

#footer .copy-right{
    text-align: center;
    border-top: 1px solid #e5e7eb;
    padding: 30px 0;
    
}
#footer .copy-right p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#fafafa ;
}



/* Alhamdulilah done */